{%- comment -%}
  Muestra y da estilos base al inventario
  - Usa 'inventory_threshold' propios del tema Enterprise
  - Usa clases existentes (data-inventory-level="very_low") para estilos propios del tema Enterprise

  Uso: {% render 'UPNG-stock-indicator', variant: product_variant %}
{%- endcomment -%}


{%- liquid
  # Asegurar que stockShopify nunca sea menor a 0
  assign stock_shopify = variant.inventory_quantity | at_least: 0
  assign stock_disponible = variant.metafields.upng.stock_disponible
  assign id_erp = variant.metafields.upng.id_erp
-%}
{% if customer.b2b?-%}
{% if customer.b2b? or customer.tags contains 'agente' or customer.tags contains 'main_contact' or customer.role == 'main_contact' or customer.metafields['upng-permission'].verStock %}

  <div class="text-xs text-start product-inventory__status js-stock-indicator"
    data-quantity=""
    data-stock-shopify="{{ stock_shopify }}"
    data-stock-disponible="{{ stock_disponible }}"
    data-inventory-level=""
    data-descatalogado="{{ descatalogado }}"
    data-id_erp="{{ id_erp }}"
  >

  </div>

{% else %}
  <div class="product-inventory__status" hidden></div>
  {% endif %}
  {% else %}
  <div class="product-inventory__status" hidden></div>
{% endif %}
