{%- liquid
  assign producto_composicion = product.metafields.upng.composicion.value
-%}

<div>
    {% render 'UPNG-tratamiento-tooltip' %}
  </div>
  <div>
    <span>{{ producto_composicion }}</span>
  </div>
  <div>
    <a class="link" href="#">Ver Detalles</a>
  </div>