{%- liquid
  assign producto_composicion = product.metafields.upng.composicion.value
-%}

<div>
  <div class="tratamiento-icons-container"></div>
  </div>
  <div>
    <span class="product-composicion pr-4">{{ producto_composicion }}</span>
  </div>
  <div>
    <a class="link" href="#detalles-{{ product.id }}">{{ 'products.product.view_details' | t }}  {% render 'icon-chevron-down' %} </a>
  </div>