{%- comment -%}
  Muestra el estado del inventario basado en la cantidad disponible y si el producto está descatalogado
  - Usa 'inventory_threshold' propios del tema Enterprise
  - Usa clases existentes (data-inventory-level="very_low") para estilos propios del tema Enterprise

  Uso: {% render 'UPNG-stock-indicator', variant: product_variant %}
{%- endcomment -%}

{%- liquid
  assign stock_de_variante = variant.inventory_quantity
  assign descatalogado = variant.metafields.upng.descatalogado
  assign stock_upango = variant.metafields.upng.stock_disponible

  if descatalogado == false and stock_de_variante <= settings.inventory_threshold_very_low
    assign nivel_stock = 'backordered'
  elsif stock_de_variante <= settings.inventory_threshold_very_low
    assign nivel_stock = 'very_low'
  elsif stock_de_variante <= settings.inventory_threshold_low
    assign nivel_stock = 'low'
  else
    assign nivel_stock = 'normal'
  endif
-%}

{% if customer.b2b? %}
  <div class="text-xs product-inventory__status" data-inventory-level="{{ nivel_stock }}">
    {%- if descatalogado == true -%}
      {%- if stock_de_variante < 1 -%}
        No disponible
      {%- elsif stock_de_variante <= 10 -%}
        Últimas unidades
      {%- else -%}
        +10
      {%- endif -%}
    {%- else -%}
      {%- if stock_de_variante < 1 -%}
        0
      {%- elsif stock_de_variante <= 10 -%}
        {{ stock_de_variante }}
      {%- else -%}
        +10
      {%- endif -%}
    {%- endif -%}
  </div>

{% else %}
  <div class="product-inventory__status" hidden></div>
{% endif %}
