.card__quick-add {
  display: block;
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 100%;
  left: 0;
  flex-shrink: 0;
  padding: calc(2 * var(--space-unit));
}

.card:focus-within .card__quick-add {
  opacity: 1;
  pointer-events: initial;
}

.quick-add-info {
  grid-template-columns: 80px auto;
}

.quick-add-info__details {
  padding-inline-start: calc(5 * var(--space-unit));
}

.quick-add-info__details>hr {
  margin: calc(4 * var(--space-unit)) 0;
}

.quick-add-info__media {
  align-self: self-start;
  background-color: rgba(var(--drawer-bg-color));
}

.quick-add-btn-icon,
.quick-add-view-btn {
  display: none;
}

.quick-add__close-btn--mob {
  position: -webkit-sticky;
  position: sticky;
  top: -8px;
  margin-left: calc(100% - 30px);
}

/* .quick-add__product-details {
  margin-top: calc(var(--gutter) * -1);
} */

.quick-add-info .product-info__price,
.quick-add-info .price__current {
  font-size: var(--h5-font-size);
}

.quick-add-info .price__was {
  font-size: 0.8em;
}

.quick-add__product-details .custom-option__inner {
  margin-bottom: 3rem;
}

.quick-add-info .unit-price {
  font-size: calc(var(--body-font-size) * 0.88px);
}

.main-products-grid[data-layout="list"] .card__quick-add {
  position: static;
  padding-inline-start: 0;
  transform: none;
  opacity: 1;
  text-align: start;
  pointer-events: initial;
}

.main-products-grid[data-layout="list"] .card__quick-add .btn {
  padding: var(--btn-padding-y, 12px) 26px;
}

.main-products-grid[data-layout="list"] .card__info-container {
  flex-direction: row;
}

.main-products-grid[data-layout="list"] .quick-add-btn-icon {
  display: none;
}

.main-products-grid[data-layout="list"] .quick-add-btn-text {
  display: block;
}

.drawer__back-btn {
  margin-inline-end: calc(2 * var(--space-unit));
}

.quick-add__content {
  z-index: -2;
}

.quick-add__footer::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--drawer-bg-color));
}

.quick-add__footer .backorder {
  margin-top: calc(4 * var(--space-unit));
}

.quick-add__footer-message {
  padding: 0;
  border-top-color: rgba(var(--info-text-color) / 0.3);
}

.quick-add__alert {
  display: block !important;
  z-index: -2;
  bottom: 100%;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-delay: 0s;
  border: 0;
}

.quick-add__alert .link {
  color: currentColor;
}

.quick-add__alert .icon {
  margin-top: var(--space-unit);
  margin-inline-end: calc(5 * var(--space-unit));
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.4s;
  transition-delay: 0.2s;
}

.quick-add__alert .icon--check_mark_in_circle circle {
  fill: currentColor;
}

.quick-add__alert .icon--check_mark_in_circle path {
  stroke: rgb(var(--success-bg-color));
}

.quick-add__alert[hidden] {
  visibility: hidden;
  transform: translateY(30px);
  transition-delay: 2s;
  opacity: 0;
}

.quick-add__alert[hidden] .icon {
  transform: scale(0.5);
  transition-delay: 1.9s;
  opacity: 0;
}

@media (max-width: 768.98px) {
  .quick-add-drawer {
    height: auto;
    max-height: calc(var(--viewport-height, 100vh) - 100px);
  }

  .quick-add-drawer.is-loading {
    height: 50vh;
  }
}

@media (max-width: 1023.98px) {
  .mob\:card__quick-add--below {
    position: static;
    padding: calc(4 * var(--space-unit)) 0 0 0;
  }

  .mob\:card__quick-add--below .btn {
    padding-right: 10px;
    padding-left: 10px;
  }

  .mob\:card__quick-add--icon {
    text-align: end;
    pointer-events: none !important;
  }

  .mob\:card__quick-add--icon .btn {
    width: auto;
    padding: 5px;
    pointer-events: initial;
  }

  .mob\:card__quick-add--icon .quick-add-btn-icon {
    display: block;
  }

  .mob\:card__quick-add--icon .quick-add-btn-text {
    display: none;
  }
}

@media (min-width: 769px) {
  .quick-add__product-details {
    margin-top: 0;
  }

  .main-products-grid[data-layout="list"] .card__quick-add {
    display: flex;
    align-items: center;
    padding: 0;
    padding-inline-start: calc(8 * var(--space-unit));
  }

  .main-products-grid[data-layout="list"] .quick-add-view-btn {
    display: block;
    margin-top: calc(3 * var(--space-unit));
  }

  .quick-add-info {
    grid-template-columns: 144px auto;
  }

  .quick-add-info__details {
    padding-inline-start: calc(8 * var(--space-unit));
  }

  .card:hover .desktop\:card__quick-add--icon {
    pointer-events: none !important;
  }

  .card:hover .desktop\:card__quick-add--icon .btn {
    pointer-events: initial;
  }
}

@media (min-width: 1024px) {
  .quick-add-info {
    grid-template-columns: 144px auto;
  }

  .card__quick-add:not(.desktop\:card__quick-add--below) {
    transition: opacity 0.2s, transform 0.2s;
    pointer-events: none;
  }

  body:not(.tab-used) .card__quick-add:not(.desktop\:card__quick-add--below) {
    transform: translateY(10px);
    opacity: 0;
  }

  .card:hover .card__quick-add:not(.desktop\:card__quick-add--below) {
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;
  }

  .desktop\:card__quick-add--below {
    position: static;
    padding: calc(4 * var(--space-unit)) 0 0 0;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon,
  .products-grid-container .desktop\:card__quick-add--icon {
    text-align: end;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn,
  .products-grid-container .desktop\:card__quick-add--icon .btn {
    width: auto;
    padding: 6px;
    transition: opacity 0.3s;
    opacity: 0.9;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn path:nth-child(2),
  .products-grid-container .desktop\:card__quick-add--icon .btn path:nth-child(2) {
    transform-origin: 70% 75%;
    transition: transform 0.3s ease-out;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn::after,
  .products-grid-container .desktop\:card__quick-add--icon .btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -1;
    right: -6px;
    bottom: -6px;
    width: 44px;
    height: 44px;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn.is-loading::after,
  .products-grid-container .desktop\:card__quick-add--icon .btn.is-loading::after {
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    width: 16px;
    height: 16px;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn.is-loading::before,
  .products-grid-container .desktop\:card__quick-add--icon .btn.is-loading::before {
    transform: scale(0.8) scaleX(-1) rotate(135deg) translateX(-50%) translateY(-50%);
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn:not(.is-loading)::before,
  .products-grid-container .desktop\:card__quick-add--icon .btn:not(.is-loading)::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.4s cubic-bezier(0.38, 0.41, 0.27, 1), opacity 0.4s;
    border-radius: inherit;
    opacity: 0;
    background: inherit;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn:not(.is-loading):hover,
  .products-grid-container .desktop\:card__quick-add--icon .btn:not(.is-loading):hover {
    border-color: transparent;
    opacity: 1;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn:not(.is-loading):hover::before,
  .products-grid-container .desktop\:card__quick-add--icon .btn:not(.is-loading):hover::before {
    transform: scale(1.2);
    opacity: 1;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .btn:not(.is-loading):hover path:nth-child(2),
  .products-grid-container .desktop\:card__quick-add--icon .btn:not(.is-loading):hover path:nth-child(2) {
    transform: rotate(180deg);
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .quick-add-btn-icon,
  .products-grid-container .desktop\:card__quick-add--icon .quick-add-btn-icon {
    display: block;
  }

  .main-products-grid:not([data-layout="list"]) .desktop\:card__quick-add--icon .quick-add-btn-text,
  .products-grid-container .desktop\:card__quick-add--icon .quick-add-btn-text {
    display: none;
  }

  .main-products-grid[data-layout="list"] .card__quick-add:not(.desktop\:card__quick-add--below) {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .main-products-grid[data-layout="list"] .card__quick-add {
    padding-inline-start: 100px;
  }
}

@media (min-width: 1536px) {
  .main-products-grid[data-layout="list"] .card__quick-add {
    padding-inline-start: 150px;
  }
}

/* ESTILOS PERSONALIZADOS  */

.quick-add-drawer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  max-width: 1200px;
  width: 90vw;
  min-height: 724px;
  height: 724px;
  max-height: 80vh;
  border-radius: 0 !important;
  overflow: hidden;
}

.quick-add-drawer .drawer__close-btn {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 12px;
}

.quick-add-drawer .quick-add-info {
  margin-bottom: 0;
}

.quick-add-drawer .pvd-container>span,
.quick-add-drawer .pvp-container {
  font-size: 14px;
}

.quick-add-drawer .pvd-container>strong {
  font-size: 20px;
}

.quick-add-drawer .pvp-container {
  padding-bottom: 1px;
  height: 43px;
  align-items: end;
}

.quick-add-drawer .pvd-container>span {
  color: #868686;
}

.quick-add-drawer .pvp-label {
  padding: 0 4px 0 6px;
}

.quick-add-drawer .quick-add-info .product-info__product-bar span {
  font-size: 15px;
}

.quick-add-drawer .quick-add-info .product-info__product-bar span {
  font-size: 15px;
}

.quick-add-drawer #variant-table-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 430px;
}

.quick-add-drawer .variant-table .variant-table__color {
  min-width: 100px;
  padding-right: 10px !important;
  text-align: left;
}

.quick-add-drawer .variant-table thead .variant-table__color {
  padding-left: 10px !important;
}

.quick-add-drawer .variant-table .variant-table__image {
  margin-top: 3px;
  height: 64px;
  width: 64px;
  object-fit: contain;
}

.quick-add-drawer .variant-table .variant-table__image,
.quick-add-drawer .variant-table .variant-table__icon {
  border-radius: 50%;
  outline: 1px solid rgba(var(--text-color)/.2);
  margin-left: 1px;
}

.quick-add-drawer .variant-table .variant-table__icon {
  border: 1px solid white;
  box-shadow: 1px 2px 4px rgba(var(--text-color)/.2);
  width: 22px;
  height: 22px;
}

.quick-add-drawer .variant-table .variant-table__color-name {
  line-height: 1.25;
  white-space: nowrap;
  letter-spacing: -5%;
}

.quick-add-drawer .variant-table .tooltip {
  display: revert !important;
}

.quick-add-drawer .variant-table .tooltip .tooltiptext {
  left: 68% !important;
}

.quick-add-drawer .variant-table .tooltip .tooltiptext::after {
  left: 20% !important;
}

.quick-add-drawer .variant-table .variant-table__cell {
  padding: 0.5rem !important;
}

.quick-add-drawer .variant-table__header {
  padding-bottom: 2rem !important;
}

/* .quick-add-drawer .variant-table th,
.quick-add-drawer .variant-table td {
  min-width: 74px !important;
  width: 100px !important;
  max-width: 100px !important;
} */

.quick-add-drawer .variant-table .header-talla {
  min-width: 90px !important;
}

.quick-add-drawer .variant-table-last-row-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.quick-add-drawer .variant-table__indicadores {
  background-color: rgb(245, 245, 245);
  justify-content: space-around;
  padding: 10px 10%;
}

@media (max-width: 768px) {
  .drawer__content .variant-table-container {
    overflow-x: scroll !important;
  }

  .quick-add-drawer .variant-table .variant-table__color {
    min-width: 70px;
    padding-left: 4px !important;
  }

  .quick-add__product-details .variant-table thead {
    height: 24px;
    top: -1px !important;
  }

  .quick-add__product-details .variant-table__cell--quantity {
    width: 80px !important;
  }

  .quick-add-info__details .product-title {
    width: 80%;
  }

  .quick-add-info__details .product-title a {
    line-height: 1;
    height: 38px;
    overflow: hidden;
    text-overflow: clip;
    display: block;
  }

  .quick-add-drawer {
    min-height: 80dvh;
    height: 85dvh;
  }

  .quick-add-info__details form {
    margin: 0 !important;
  }

  .quick-add-drawer .variant-table__header {
    padding-bottom: 0 !important;
  }

  .quick-add-drawer .variant-table .variant-table__image {
    height: 48px;
    width: 48px;
  }

  .quick-add-drawer .variant-table .variant-table__icon {
    width: 18px;
    height: 18px;
  }

  .quick_add-totals .upng-price-wrapper--pvd {
    width: 68px;
  }

}

@media (max-width: 480px) {
  .quick-add-drawer .variant-table .variant-table__cell--quantity .price__current {
    font-size: 12px !important;
  }

  .quick-add-drawer .variant-table .variant-table__color {
    width: 54px;
  }

  .quick-add-drawer .variant-table .variant-table__quantity {
    height: 34px;
  }

  .quick-add-drawer #variant-table-wrapper {
    height: 44dvh !important;
  }

  .quick-add-drawer .variant-table thead tr:after {
    top: unset;
    bottom: 0;
  }

  .quick-add-drawer .variant-table .variant-table__last-row:after {
    top: 0;
    bottom: unset;
  }

  .quick-add-drawer .variant-table .variant-table__last-row td {
    padding-top: 0;
    padding-bottom: 0;
  }

  .quick-add-drawer .variant-table__last-row td .justify-between {
    justify-content: flex-start !important;
  }
}

@media (max-width: 400px) {
  .quick-add-drawer .variant-table .variant-table__color {
    width: 40px;
  }

  .quick-add-drawer #variant-table-wrapper {
    height: 31dvh !important;
  }

  /* .quick-add__product-details .variant-table tbody {
    height: 43dvh !important;
    width: 100% !important;
  } */

  .quick-add-info {
    grid-template-columns: 50px auto;
  }

  .quick-add-info__details {
    padding-inline-start: calc(3 * var(--space-unit));
  }

  .product-info__product-bar {
    display: none;
  }
}

/* Primera Columna 'Color' Estatica Sticky */

.quick-add-drawer .variant-table thead th:first-child,
.quick-add-drawer .variant-table tbody td:first-child {
  position: sticky;
  z-index: 1;
  left: 0;
  background-color: rgba(var(--drawer-bg-color));
  opacity: 1;
}

.quick-add-drawer .variant-table tbody tr:nth-child(2n) td:first-child {
  background-color: #f5f5f5;
}

/* Estilos Barra control y Totales */

.quick_add-control {
  height: 64px;
  position: relative;
}

.clear-container {
  width: 300px;
}

.quick_add-clear_all,
.quick_add-clear_confirmation .variant-table__clear-button {
  margin-right: 3rem;
}

.quick-add-drawer .js-actualizar-carrito-rapido {
  min-width: 300px;
}

@media (max-width: 1024px) {

  .variant-table__view-cart-button {
    display: none;
  }

  .quick_add-clear_confirmation {
    flex-direction: column;
  }

  .clear-container .btn--sm {
    padding: 6px 12px !important;
    white-space: nowrap;
  }

  .quick_add-clear_all,
  .quick_add-clear_confirmation .variant-table__clear-button {
    margin-right: 0;
  }

  .clear-container {
    width: auto;
    margin-right: 1rem;
  }

  .quick-add-drawer .js-actualizar-carrito-rapido {
    min-width: unset;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

}

@media (max-width: 768px) {
  .quick_add-control {
    height: 84px;
    align-items: flex-start;
    margin-bottom: 2px;
  }

  .quick_add-clear_confirmation {
    gap: 1rem;
  }

  .quick_add-totals {
    position: absolute;
    right: 0;
    left: 26px;
    bottom: 0;
    width: max-content;
    gap: 6px;
  }

  .clear-container .btn--sm {
    padding: 8px 12px !important;
  }

  .js-actualizar-carrito-rapido {
    padding: 10px 16px !important;
  }

}

@media (max-width: 400px) {
  .js-actualizar-carrito-rapido {
    padding: 8px 12px !important;
    font-size: 1.4rem;
    font-weight: 400;
  }
}