/* OCULTAR SELECTOR DE VARIANTES option2 (de Color) */
upng-variant-picker fieldset.option-selector:nth-of-type(2) {
  display: none !important;
}

/* Reset general de la tabla */
.variant-table {
  width: 100%;
  min-height: 500px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  position: relative;
}

/* Reset de celdas y encabezados */
.variant-table th,
.variant-table td {
  padding: 0 2px;
  text-align: center;
  border: none;
  vertical-align: middle;
}

/* Reset de las filas */
.variant-table__row {
  background: none;
}

/* Reset de las celdas */
.variant-table__cell {
  margin: 0;
}

/* Reset de las imágenes */
.variant-table__image {
  display: block;
}

/* Reset de los inputs */
.variant-table__quantity {
  width: 50%;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

/* Reset del contenedor */
.variant-table-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Reset de iconos */
.variant-table .icon {
  display: inline-block;
  vertical-align: middle;
}

.variant-table__header {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.01em;
  text-align: center;
  padding-bottom: 3rem !important;
  opacity: 0.7;
}

.table-header-left {
  text-align: left !important;
  padding-left: 5px !important;
  width: 50px;
}

.variant-table thead tr::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--text-color)/0.15);
  position: absolute;
  top: 30px;
  left: 0;
}

.variant-table__cell {
  padding: 0.3rem 0.3rem 0.3rem 0 !important;
}

.variant-table__cell--date {
  font-size: 14px;
  letter-spacing: -0.01em;
}
.variant-table__cell--stock {
  width: 156px;
}

.variant-table__cell--quantity {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
  gap: 6px;
  width: 130px;
}

.variant-table__cell--quantity a {
  opacity: 0.7;
  padding: 7px;
}

.variant-table__cell--quantity a::after {
  height: 35px;
  width: 35px;
}

.variant-table__cell--quantity a:hover {
  opacity: 1;
}

.variant-table__cell--quantity a svg {
  height: 18px;
  width: 18px;
}

.variant-table__cell .qty-input {
  width: 80px;
}

.variant-table__cell .qty-input__btn {
  width: 48px;
}

.icon--upng-avisame {
  color: #868686;
}

.variant-table__button:hover .icon--upng-avisame {
  color: rgb(var(--btn-alt-text-color));
}

.variant-table .variant-table__last-row {
  border-bottom: 1px solid rgba(var(--text-color)/0.15);
  position: relative;
}

.variant-table .variant-table__last-row::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--text-color)/0.15);
  position: absolute;
  bottom: 64px;
  left: 0;
}

.variant-table .variant-table__last-row td {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.variant-table__total {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.01em;
  opacity: 0.7;
}

.variant-table__total-items-value {
  width: 100%;
  text-align: center;
}

.variant-table__loader {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

/* ESTILOS VISTA TABLA COMPACTA EN DRAWER / MODAL */

.quick-add-info__details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.quick-add-info__details .product-title {
  order: -2;
}

/* .quick-add-info__details .view-more-link {
  position: absolute;
  top: 0;
  right: 3rem;
} */
.quick-add-info__details .view-more-link {
  order: -1;
  margin-bottom: 8px;
}

upng-variant-picker .option-selector {
  position: relative;
}

.drawer__content upng-variant-picker .option-selector {
  padding-top: 1.5rem;
}

.drawer__content upng-variant-picker .option-selector .opt-label--image {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  margin-inline-end: 10px;
}

.drawer__content upng-variant-picker .variant-table-container {
  padding-top: 1.5rem !important;
}

.drawer__content upng-variant-picker .option-selector legend {
  bottom: -3px;
}

upng-variant-picker .option-selector legend {
  position: absolute;
  bottom: 0;
  margin-bottom: -24px !important;
}

.quick-add-drawer .drawer__content {
  overflow-y: hidden;
}

/* .quick-add__product-details .variant-table-container {
  height: 460px;
} */

.quick-add__product-details .variant-table {
  min-height: auto;
}

.quick-add__product-details .variant-table tbody {
  height: 320px;
  min-height: auto;
  display: block;
  overflow-y: auto;
}

.quick-add__product-details .variant-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.quick-add__product-details .variant-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.quick-add__product-details .variant-table tfoot {
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.quick-add__product-details .variant-table tbody tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.quick-add__product-details .variant-table__cell--quantity {
  display: table-cell;
  width: auto;
  padding-top: 6px !important;
}

.quick-add__product-details .variant-table__cell--quantity .qty-input {
  height: 36px;
  scale: 80%
}

.quick-add__product-details .variant-table__cell--quantity .price {
  margin-top: -8px;
}

.quick-add__product-details .variant-table__cell--quantity .price__default {
  height: 20px;
}

.quick-add__product-details .variant-table__cell--quantity .price__current {
  font-size: 14px;
}