{% layout none %}

{% assign current_variant = product.selected_variant %}
{% assign tratamiento_reference = current_variant.metafields.upng.ref_tratamiento.value %}

{% if tratamiento_reference != blank %}
  <div class="tratamiento-icons pr-6">
    {% for tratamiento in tratamiento_reference %}
      <div class="tratamiento-icon tooltip">
        {% if tratamiento.icono %}
          {{ tratamiento.icono | image_url: width: 24 | image_tag: height: null, loading: 'lazy', alt: tratamiento.tipo }}
          <span class="tooltiptext">{{ tratamiento.descripcion }}</span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% else %}
    <!-- No tratamientos definidos -->
{% endif %}